/* Móvil */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(../recursos/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'Dosis';
    font-style: bold;
    font-weight: 500;
    src: url(../recursos/Dosis-Bold.ttf);
}

@font-face {
    font-family: 'Dosis';
    font-style: Medium;
    font-weight: 600;
    src: url(../recursos/Dosis-Bold.ttf);
}

nav {
    background-color: #a7cdff;
}

body {
    font-family: 'Dosis';
    font-size:larger;
}

h1 {
    color: #0215a8;
}

#iconRed {
    width: 100%;
}

#formularioRegistro {
    margin: auto;
    padding: 2%;
}

 
/* Tablets : 768px y más) */
@media only screen and (min-width: 768px) {
    #iconRed {
        width: 40%;
    }

    
}
 
/* Ordenador: 1024 y más) */
@media only screen and (min-width: 1024px) {
    #iconRed {
        width: 30%;
    }

    

}

/* Ordenador: 1440px y más) */
@media only screen and (min-width: 1440px) {
    #iconRed {
        width: 15%;
    }

    #formularioRegistro {
        width: 50%;
    }
}
 